{%extends 'base.html'%}
{% block title%}
<title>All Posts </title>
{%endblock title%}
{% block content%}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="post-title">{{post.title}}</h2>
                <p>{{post.content}}}</p>
                <p>
                    Placeholder text by
                    <a href="#">{{post.author}}</a>
                    in
                    <a href="#">{{post.publication_date}}</a>

                </p>
            </div>
        </div>
    </div>
</article>
<!-- Divider-->
<hr class="my-4" />
<!-- Post Comment-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <h3>Comments:</h3>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            {% for comment in comments %}
            <h5>Author: {{comment.author}}</h5>
            <p><strong>Content: </strong>{{comment.content}}</p>
            {% endfor %}
        </div>
    </div>
</article>


<!-- Form Comment -->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <h3>Write Comment:</h3>
        <form class=" row gx-4 gx-lg-5 justify-content-center needs-validation" method="GET">
            <label>Your name: </label>
            <input type=" text" label="Author" placeholder="Author" name="author">
            <label>Content: </label>
            <input type="text" label="Content" placeholder="Content" name="content">
            <input type="submit" name="sub">
        </form>
    </div>
</article>
{% endblock content%}