{% extends 'base.html'%}

{%block title%} Author List {% endblock%}

{% block content %}
{% for author in all %}

<div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <img class="mb-3 img-thumbnail border-black" src="{{ author.pic.url}}" alt=""
                    style="border-radius:50%; width: 200px;">
                <h5 class="card-title">{{author.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="{{ author.id }}" style="text-decoration:none">{{ author.name }}</a>
            </div>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}