{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h2>{{ detail.title }}</h2>
    <br>
    <h6>Category: {{ detail.Category.name }}</h6>
    <br>
    <a href="{% url 'authors_detail' detail.author.id %}">
        <h6>Author: {{ detail.author.name }}</h6>
    </a>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <p></p>
            </div>
            <div class="col-6">
                <p>{{ detail.content }}</p>
            </div>
            <div class="col-3">
                <p></p>
            </div>
        </div>
    </div>
    <small>Date: {{ detail.date }}</small>
    <br>
    <br>
    <div>
        <h4>Comments:</h4>
        <br>
        {%for com in comment%}
        <p>Content: {{com.content}} </p>
        <small>Date & Time: {{com.date}}</small>
        <br>
        <small>author: {{com.author.name}}</small>
        <br>
        <br>
        {%endfor%}
    </div>
</div>
{%endblock%}